<header class="main-header">
    <!-- header inner -->
    <div class="header">
        <div class="container-fluid">
           <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                 <div class="full">
                    <div class="center-desk">
                       <div class="logo">
                          <a href="/"><img src="images/logo.png" alt="#" /></a>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                 <nav class="navigation navbar navbar-expand-md navbar-dark ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarsExample04">
                       <ul class="navbar-nav mr-auto">
                          <li class="nav-item active">
                             <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">Home</a>
                          </li>
                          <li class="nav-item">
                             <a class="nav-link <%= path === '/products' ? 'active' : '' %>" href="/products">Our Glasses</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link <%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link <%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                          </li>
                          <li class="main-header__item">
                            <a class="nav-link <%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                            </a>
                          </li>
                          <li class="main-header__item">
                            <a class="nav-link <%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                            </a>
                          </li>
                       </ul>
                       <ul class="navbar-nav mr-auto">
                        <% if (!isAuthenticated) { %>
                          <li class="nav-item d_none login_btn">
                             <a class="nav-link <%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                          </li>
                          <li class="nav-item d_none">
                             <a class="nav-link <%= path === '/signup' ? 'active' : '' %>" href="/signup">Register</a>
                          </li>
                          <% } else { %>
                          <li class="nav-item d_none sea_icon">
                             <form action="/logout" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <div class="nav-item d_none">
                                    <button type="submit" id="logout_btn" class="nav-link">Logout</button>
                                </div>
                            </form>
                          </li>
                          <% } %>
                       </ul>
                    </div>
                 </nav>
              </div>
           </div>
        </div>
     </div>
</header>