<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include('../includes/navigation.ejs') %>

    <main>
              <!-- banner -->
      <section class="banner_main">
        <div id="banner1" class="carousel slide" data-ride="carousel">
           <ol class="carousel-indicators">
              <li data-target="#banner1" data-slide-to="0" class="active"></li>
              <li data-target="#banner1" data-slide-to="1"></li>
              <li data-target="#banner1" data-slide-to="2"></li>
           </ol>
           <div class="carousel-inner">
              <div class="carousel-item active">
                 <div class="container">
                    <div class="carousel-caption">
                       <div class="text-bg">
                          <h1> <span class="blu">Welcome <br></span>To Sungla</h1>
                          <figure><img src="images/banner_img.png" alt="#"/></figure>
                          <a class="read_more" href="/products">Shop Now</a>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="carousel-item">
                 <div class="container">
                    <div class="carousel-caption">
                       <div class="text-bg">
                          <h1> <span class="blu">The best <br></span>eshop for sunglasses</h1>
                          <figure><img src="images/Sunglasses-PNG-Clipart.png" alt="#"/></figure>
                          <a class="read_more" href="/products">Shop Now</a>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
           <i class="fa fa-arrow-left" aria-hidden="true"></i>
           </a>
           <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
           <i class="fa fa-arrow-right" aria-hidden="true"></i>
           </a>
        </div>
     </section>
     <!-- end banner -->

    <!-- about section -->
    <div class="about">
        <div class="container">
            <div class="row d_flex">
                <div class="col-md-5">
                    <div class="about_img">
                    <figure><img src="images/about_img.png" alt="#"/></figure>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="titlepage">
                    <h2>About Our Shop</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about section -->

    <div class="products-grid-layout">
        <h1 class="titlearrivals">Check Our Newest Arrivals</h1>
        <% if (prods.length > 0) { %>
           <div class="products-grid">
                   <% for (let product of prods) { %>
                       <article class="card product-item">
                           <header class="card__header">
                               <h1 class="product__title"><%= product.title %></h1>
                           </header>
                           <div class="card__image">
                               <img src="<%= product.imageUrl %>"
                                   alt="<%= product.title %>">
                           </div>
                           <div class="card__content">
                               <h2 class="product__price">$<%= product.price %></h2>
                               <p class="product__description"><%= product.description %></p>
                           </div>
                           <div class="card__actions">
                               <a href="/products/<%= product._id %>" class="btn">Details</a>
                               <% if (isAuthenticated) { %>
                                 <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                               <% } %>
                           </div>
                       </article>
                   <% } %>
               </div>
           <% } else { %>
               <h1>No Products Found!</h1>
           <% } %>
    </div>


    <!-- clients section -->
    <div class="clients">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage">
                    <h2>What say our clients</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut la</p>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                 <div id="myCarousel" class="carousel slide clients_Carousel " data-ride="carousel">
                    <ol class="carousel-indicators">
                       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                       <li data-target="#myCarousel" data-slide-to="1"></li>
                       <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                       <div class="carousel-item active">
                          <div class="container">
                             <div class="carousel-caption ">
                                <div class="row">
                                   <div class="col-md-12">
                                      <div class="clients_box">
                                         <figure><img src="images/our.png" alt="#"/></figure>
                                         <h3>Sandy Mark</h3>
                                         <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact  a more-or-less normal distribution of letters,</p>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="carousel-item">
                          <div class="container">
                             <div class="carousel-caption">
                                <div class="row">
                                   <div class="col-md-12">
                                      <div class="clients_box">
                                         <figure><img src="images/our.png" alt="#"/></figure>
                                         <h3>Sandy Mark</h3>
                                         <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact  a more-or-less normal distribution of letters,</p>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="carousel-item">
                          <div class="container">
                             <div class="carousel-caption">
                                <div class="row">
                                   <div class="col-md-12">
                                      <div class="clients_box">
                                         <figure><img src="images/our.png" alt="#"/></figure>
                                         <h3>Sandy Mark</h3>
                                         <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact  a more-or-less normal distribution of letters,</p>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <i class='fa fa-angle-left'></i>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <i class='fa fa-angle-right'></i>
                    </a>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- end clients section -->

    </main>
<%- include('../includes/end.ejs') %>